<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>






<section id="oo" class="wpb_row vg_fixed inner-banner " ><div class="container"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner "><div class="wpb_wrapper">  <div class="content">
    <h1></h1>
    <p></p>
</div>
</div></div></div>
</div></div></div></div></div></section>



<section id="" class="wpb_row vg_fixed about inner padding-lg "  ><div class="container"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner"><div class="wpb_column vc_column_container vc_col-sm-5"><div class="vc_column-inner vc_custom_1504241114868"><div class="wpb_wrapper"><div class="video-block">
    <div id="thumbnail_container">
        <img src="" id="thumbnail" class="img-responsive" alt="">
    </div>
    <a href="#" data-toggle="modal" data-target="#myModal" class="start-video">
        <img src="index.blade.php" alt="">
    </a>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="video-block">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{$course->video}}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div></div></div><div class="left-block wpb_column vc_column_container vc_col-sm-7"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h2>COURSE DESCRIPTION</h2>
            <p>{{$course->full_disc}}</p>

        </div>
    </div>



</div></div></div></div></div></div></div></div>
</section>





<section class="wpb_row vg_fixed about inner padding-lg col-xs-12">
    <div class="container">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div>
                    <h1>Events</h1>
                </div>


                <div class="course-detail clearfix">
                    <div class="duration clearfix">
                        <div class="icon"><span class="icon-duration-icon"></span></div>
                        <div class="detail"> <span>Date  </span>  </div>
                    </div>
                    <div class="duration clearfix">
                        <div class="icon"><span class="icon-eligibility-icon"></span></div>
                        <div class="detail"> <span>Doctor  </span> { </div>
                    </div>
                    <div class="duration fee clearfix">
                        <div class="detail"> <span>COURSE FEE:</span>  </div>
                    </div>
                    <a href="" class="btn"> apply now <span class="icon-more-icon"></span></a>
                </div>




            </div></div></div>
</section>






</body>
</html>